<div class="content">
  <app-toolbar class="containers" [usuario]="usuario" labelComponente="Alterar senha"></app-toolbar>
  <div class="example-form">
    <card-alert
      *ngIf="mensagemNewPass?.codigo != null"
      tipo="{{ mensagemNewPass.tipo }}"
      codigo="{{ mensagemNewPass.codigo }}"
      mensagem="{{ mensagemNewPass.mensagem }}"
    ></card-alert>
  </div>
  <form
    [formGroup]="formControlNewPass"
    (ngSubmit)="onSubmit()"
    class="example-form"
    #formDirective="ngForm"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nova senha</mat-label>
      <input
        formControlName="novaSenha"
        [type]="hide ? 'password' : 'text'"
        matInput
      />
      <mat-hint align="start">A senha deve conter no mínimo 6 digitos</mat-hint>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="botao">
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="formControlNewPass.invalid"
      >
        Salvar
      </button>
      <a mat-stroked-button color="_blank" type="button" (click)="zerarForm()"
        >Cancelar</a
      >
    </div>
  </form>

  <app-footer [rotaBotaoHome]="route.LOGIN" class="containers"></app-footer>
</div>
