<div class="content">
  <app-toolbar class="containers" [usuario]="usuario"></app-toolbar>
  <form
    [formGroup]="formControlNewPass"
    (ngSubmit)="onSubmit()"
    class="example-form"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input
        matInput
        formControlName="celular"
        type="tel"
        matInput
        placeholder="00 00000-00"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Data de Nascimento</mat-label>
      <!-- <input matInput formControlName="dataNascimento" type="date" matInput placeholder="00/00/0000" /> -->
      <input
        matInput
        formControlName="dataNascimento"
        [matDatepicker]="datepicker"
      />
      <mat-hint>DD/MM/AAAA</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancelar</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Aplicar
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nova senha</mat-label>
      <input
        formControlName="novaSenha"
        [type]="hide ? 'password' : 'text'"
        matInput
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="botao">
      <button mat-stroked-button color="primary" type="submit">Salvar</button>
      <a mat-stroked-button color="_blank" type="button">Cancelar</a>
    </div>
  </form>

  <app-footer [rotaBotaoHome]="route.LOGIN" class="containers"></app-footer>
</div>
