<div class="content">
  <!-- Inicio header -->
    <mat-expansion-panel class="containers header">
      <mat-expansion-panel-header>
        <div class="header-content">
          <div class="header-content-avatar">
            <div class="avatar"></div>
          </div>
          <div class="header-content-saudacao">
            <p>Eae, André!!</p>
          </div>
        </div>
      </mat-expansion-panel-header>
      <button mat-button color="primary" (click)="logout()">Logout</button>
    </mat-expansion-panel>
  <!-- Final header -->
  <div class="containers body">
    <p>feed works!</p>
  </div>
</div>

<!-- Inicio header -->
<!-- <div class="containers header">
  <div class="align">
    <div class="header-content">
      <div class="header-content-avatar">
        <div class="avatar"></div>
      </div>
      <div class="header-content-saudacao">
        <p>Eae, André!!</p>
      </div>
    </div>
  </div>
</div> -->
<!-- Final header -->
