<div class="content-card">
    <mat-card>
        <div class="column column-color">
        </div>
        <div class="body-card">
            <div class="column column-detail">
                <p>Nome: <strong>{{pagamento.nomePagador}}</strong></p>
                <p>Data: <strong>{{pagamento.dataPagamento}}</strong></p>
                <hr>
                <p>{{pagamento.tipo}}: <strong>{{pagamento.valor | currency: 'BRL'}}</strong></p>
            </div>
            <div class="column column-day">
                <button mat-mini-fab color="primary" (click)="print(pagamento.url)">
                    <a style="color: white;" href="{{pagamento.url}}" target="_blank"><mat-icon>download</mat-icon></a>
                </button>
                <button mat-mini-fab color="accent" (click)="getDelete(pagamento)" [disabled]="pagamento.uidPagador !== usuario.uid">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>