<div class="content">
  <app-toolbar class="containers" [usuario]="usuario"></app-toolbar>

  <div class="containers body">
    <mat-tab-group backgroundColor="primary">
      <mat-tab label="Mensalidade">
        <mensalidade></mensalidade>
      </mat-tab>
      <mat-tab label="Treino">
        <treinos></treinos>
      </mat-tab>
      <mat-tab label="Perfil">
        <perfil></perfil>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-footer [rotaBotaoHome]="route.FEEDV2" class="containers"></app-footer>
</div>
