.content {
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
  }
  
  .containers {
    width: 100%;
    min-height: 5%;
    background-color: white;
    display: flex;
  }
  
  .header {
    height: max-content;
    min-height: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
    justify-content: center;
  }
  
  .header-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .align {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
  }
  
  .header-content-avatar {
    width: 40px;
    height: 40px;
  //   padding: 15px;
  }
  
  .avatar {
    width: 90%;
    height: 90%;
    background-color: rgb(236, 236, 236);
    border-radius: 100%;
    border: 3px solid rgb(36, 17, 117);
  }
  
  .header-content-saudacao {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
  }
  
  .body {
    height: 85%;
    background-color: rgb(235, 232, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feed {
    width: 95%;
    padding: 5px;
    margin-top: -20px;
  }
  
  p {
    margin: auto;
  }
  
  mat-expansion-panel-header {
   height: 90% !important;
   padding: 10px;
   box-shadow: none;
  }

  app-toolbar {
    margin-bottom: 5px;
    // padding: 0 7px !important;
  }

  mat-tab-group{
    width: 100%;
  }
  
  ::ng-deep .mat-tab-labels{
    justify-content: space-around;
  }
  ::ng-deep .mat-tab-label{
    min-width: 60px !important;
    max-width: 100px !important;
  }
  mat-tab-group {
    height: 100% !important;
  }

  ::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
  }
  ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
    padding: 15px 24px;
  }