<div class="content">
  <div class="containers body" style="justify-content: center">
    <div class="botao">
      <button
        mat-stroked-button
        color="primary"
        (click)="goTo(route.PAGAMENTO)"
      >
        Lançar meu pagamento
      </button>

    <div class="subtitle">
      <h2>Pagamentos</h2>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Mês</mat-label>
      <mat-select [(ngModel)]="mesAno" name="local">
        <mat-option *ngFor="let mesAno of mesAnoLista" [value]="mesAno">
          {{mesAno}}
        </mat-option>
      </mat-select>
      <mat-hint>Selecione o mês para filtrar</mat-hint>
    </mat-form-field>

    <mat-accordion class="accordion">
      <mat-expansion-panel *ngFor="let local of localTreinoLista">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ local.nome }} </mat-panel-title>
          <mat-panel-description *ngIf="mesAno">
            Total: {{getValorPagoMesAno(mesAno, local, pagamentos) | currency: 'BRL'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <hr>
          <div class="quantidades">
            <p class="p-valor">Mensalidades: <strong>{{getNumeroDePagantes(tipoPagamento.MENSALIDADE, mesAno, local, pagamentos)}}</strong></p>
            <p class="p-valor">Diárias: <strong>{{getNumeroDePagantes(tipoPagamento.DIARIA, mesAno, local, pagamentos)}}</strong></p>
          </div>
          <hr>
          <card-pagamento
            *ngFor="
              let pagamento of filterPagamentosPorLocalTreino(mesAno, local, pagamentos)
            "
            [pagamento]="pagamento"
            (delete)="delete($event)"
          ></card-pagamento>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
