<div class="content">
  <mat-card class="card">
    <div class="card-container">
        <div class="logo">
            <img src="../../../assets/imagens/logo.png" width="150" height="150"/>
        </div>      
      <form #form="ngForm" [formGroup]="formControlUsuario" (ngSubmit)="onSubmitLogin()" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Celular</mat-label>
          <input formControlName="celularFormGroup" type="tel" matInput placeholder="00 00000-00" />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input formControlName="senhaFormGroup" type="password" matInput />
        </mat-form-field>
        <div class="botao">
          <button mat-stroked-button color="primary" type="submit">Entrar</button>
          <a mat-stroked-button target="_blank">Esqueci minha senha</a>
        </div>
      </form>
    </div>
  </mat-card>
</div>
