<div class="content" style="height: 90%">
  <mat-card class="card">
    <div class="card-container">
        <div style="width: 30%;">
            <img src="../../../assets/logo.jpg" width="100" height="100" />
        </div>      
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Celular</mat-label>
          <input type="tel" matInput placeholder="00 00000-00" />
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input type="password" matInput />
        </mat-form-field>
      </form>
      <button mat-stroked-button color="primary">Accent</button>
    </div>
  </mat-card>
</div>
