  .card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 50%;
    width: 90%;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .example-form {
    min-width: 150px;
    max-width: 95%;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  input {
    width: 95%;
  }

  div ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fafafa;
  }