<div class="content-card">
    <mat-card>
        <div class="body-card">
            <div class="column column-day">
            </div>
            <div class="column column-detail">
                <p>Local: <strong>{{local.nome}}</strong></p>
                <p>Diária: <strong>{{local.diaria | currency: 'BRL'}}</strong></p>
                <p>Mensalidade: <strong>{{local.mensalidade | currency: 'BRL'}}</strong></p>
                <!-- <hr>
                <div class="valores">
                    <p class="p-valor">Horário:{{horario.valor_horario | currency: 'BRL'}}</p>
                    <p class="p-valor">Pagamento:{{horario.valor_pagamento | currency: 'BRL'}}</p>
                    <p class="p-valor">Diária:{{horario.valor_diaria | currency: 'BRL'}}</p>
                </div> -->
            </div>
        </div>
    </mat-card>
</div>