<div class="header">
  <mat-sidenav-container class="sidenav-container" autosize *ngIf="state">
    <mat-sidenav
      #sidenav
      class="example-sidenav"
      mode="side"
      [opened]="openSideNav"
    >
      <mat-nav-list>
        <mat-list-item class="parent" (click)="home()">
          <span class="full-width">Home</span>
          <mat-icon mat-list-icon>home</mat-icon>
        </mat-list-item>
        <mat-list-item class="parent" (click)="goTo(routes.NEW_PASSWORD)">
          <span class="full-width">Alterar Senha</span>
          <mat-icon mat-list-icon>key</mat-icon>
        </mat-list-item>
        <mat-list-item class="parent" (click)="logout()">
          <span class="full-width">Logout</span>
          <mat-icon mat-list-icon>logout</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>

  <div class="fechaMenu" *ngIf="openSideNav" (click)="openCloseSideNav()"></div>

  <mat-toolbar>
    <button
      [disabled]="!state"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="openCloseSideNav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="saudacao-usuario">
      <p class="nome">Eae, {{ usuario?.nome }}!!</p>
      <p>{{ usuario?.time }}</p>
    </div>
    <span class="spacer"></span>
  </mat-toolbar>
</div>
